.footer {
  height: 86px;
  /* width: 100vw; */
  background: var(--gray-1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;

}

.footer a {
  /* cursor: pointer; */
  color: #FFF;
  font-size: 20px;
}
