.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  width: 100vw;
  background: var(--gray-1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

.logo {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
}

.basket {}
