.ticket {
  /* height: 168px; */
  width: 100%;

  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
}

.image-wrapper {
  height: 120px;
  width: 100px;
  min-width: 100px;
  overflow: hidden;

  border-radius: 8px;
  background-color: grey;
}

.content {
  margin: 0 24px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

.genre {
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.buttons {
  display: flex;
}

.remove {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: transparent;
  background-image: url('/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;

  margin-left: 24px;
}
