.rewiew-wrapper {
  padding: 24px;
  display: flex;
  gap: 32px;
}

.image {
  height: 100px;
  width: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background-color: var(--gray-5, #E0E0E0);
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.content {
  width: 100%;
}
